.button {
  border: 1px solid transparent;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  text-decoration: none;
  display: inline-block;
  font: var(--button-button);
  cursor: pointer;
  color: currentColor;
  background: transparent;
  border-radius: 4px;
  outline: none;
}
.button:active {
  transform: scale(0.95);
}
.button i {
  font-size: 1.5rem;
  color: var(--gray50);
}
.button i,
.button > * {
  vertical-align: middle;
}
.button.is-primary {
  background: var(--blue10);
  color: var(--white);
}
.button.is-secondary {
  border: 1px solid var(--gray20);
}

.button.is-primary:hover,
.button.is-primary:focus {
  outline: none;
  background-color: var(--blue30);
}
.button.is-secondary:hover,
.button.is-secondary:focus {
  outline: none;
  background-color: var(--gray10);
}

.button.is-rounded {
  border-radius: 1.25rem;
  color: var(--blue10);
}
.button.is-compact {
  border-radius: 50%;
  padding: 0.5rem;
}
.button.is-compact:hover,
.button.is-compact:focus {
  outline: none;
  background: var(--gray10);
  transition: 0.3s;
}
.button.is-shadowed {
  box-shadow: 0.08734px 2.52442px 7.4963px 0px rgba(0, 0, 0, 0.07),
    0.41288px 11.9336px 29.3037px 0px rgba(0, 0, 0, 0.04),
    1.0719px 30.98146px 92px 0px rgba(0, 0, 0, 0.03);
}

.button:focus {
  outline: 1px solid currentColor;
}
