.eventCell{
    border-inline-start: 1px solid currentColor;
    border-block-end: 1px solid currentColor;
    padding: .25rem;
}
.eventCell:nth-child(8n){
    border-inline-end: 1px solid currentColor;
}
.eventCell.is-active::before{
    content:'(Sin título)' ;
    font: small;
    background: #c6dafc;
    padding: 0.25rem;
    display: block;
    border-radius: 0.25rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}