.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.5rem;
  border-block-end: 1px solid var(--gray20);
  position: sticky;
  top: 0px;
  z-index: 5;
  background: var(--white);
}
.header-logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.header-primary {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.header-secondary {
  display: flex;
  align-items: center;
  gap: 3rem;
}
