.hourCell {
  font: var(--body3-regular);
  justify-self: end;
  align-self: start;
  transform: translateY(-50%);
  padding-inline-end: 1rem;
  position: relative;
  white-space: nowrap;
}
.hourCell::before {
  content: '';
  inline-size: 0.5rem;
  block-size: 1px;
  background: var(--gray20);
  position: absolute;
  inset-inline-end: 0;
  inset-block-end: 50%;
}
