.myCalendars {
  max-inline-size: 12.25rem;
}
.myCalendars-header {
  display: flex;
  font: var(--body1-medium);
  justify-content: space-between;
  align-items: center;
  margin-block-end: 0.5rem;
}
.myCalendars-header i {
  font-size: 1.5rem;
}
.myCalendars-calendar {
  display: flex;
  flex-direction: column;
}
.myCalendars-calendar a {
  text-decoration: none;
  display: inline-flex;
  gap: 0.25rem;
  align-items: center;
  color: var(--gray30);
  border-radius: 0.25rem;
  padding-block: 0.5rem;
}
.myCalendars-calendar i {
  font-size: 1.5rem;
}
.myCalendars-calendar a:hover {
  background-color: var(--gray10);
}
