.page {
  block-size: 100vh;
  display: grid;
  grid-template-columns: 15.25rem 1fr;
  grid-template-rows: 64px 1fr;
  grid-template-areas: 'header header' 'sidebar calendar';
}
.page .header {
  grid-area: header;
}
.page .sidebar {
  grid-area: sidebar;
}
.page .calendar {
  grid-area: calendar;
}
